<style>
    .water {
         color: #2828c7;
    }

    .fire {
        color: #c72828;
    }

    .grass {
        color: #29cc29;
    }

    .electro {
        color: #FFFF80;
    }
</style>

Найти:
<input ng-model="myQuery.$"><br><br>

Найти по типу:
<select ng-model="myQuery.type">
    <option value="">Все</option>
    <option ng-repeat="pokemon in pokemons" value="{{ pokemon.type[0]}}">{{ pokemon.type[0]}}</option>
</select><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="-weight">Весу обратно</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}"
             ng-click="showName(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1>{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>